<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:include="layout :: headerFragment">
  <title>Control Evento</title></head>
<body>
<form action="#" th:action="@{/entradas/detalles}" th:object="${busquedaReq}" method="post" >
  <div class="container text-center justify-content-md-center">
    <div class="row justify-content-md-center">
      <div class="col">
        <h2>Buscar por:</h2>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col">
        <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
          <input type="radio" class="btn-check" value="socio"
                 th:field="*{tipoBusqueda}" name="tipo-busqueda" id="socio" autocomplete="off" checked>
          <label class="btn btn-outline-success" for="socio">Nro Socio</label>
          <input type="radio" class="btn-check" value="cedula"
                 th:field="*{tipoBusqueda}" name="tipo-busqueda" id="cedula" autocomplete="off">
          <label class="btn btn-outline-success" for="cedula">Nro Cedula</label>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <input class="form-control busqueda" type="text" id="input-busqueda" th:field="*{valor}" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
        <button type="submit" value="submit" class="form-control btn btn-success">Buscar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="alert alert-danger" th:attr="hidden=${error==null ? 'true' : 'false'}" role="alert">
          No se encontraron resultados.
        </div>
      </div>
    </div>
  </div>
</form>

<!-- container -->

</body>
</html>